model/relax-ng/data8.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="libraryID">
    <attribute name="libraryID">
      <data type="integer"/>
    </attribute>
  </define>
  <define name="key">
    <attribute name="key">
      <ref name="keyPattern"/>
    </attribute>
  </define>
  <define name="keyPattern">
    <data type="string">
      <param name="pattern">[23456789ABCDEFGHIJKMNPQRSTUVWXTZ]{8}</param>
    </data>
  </define>
  <define name="md5Pattern">
    <data type="string">
      <param name="pattern">[abcdefg0-9]{32}</param>
    </data>
  </define>
  <define name="keys">
    <list>
      <oneOrMore>
        <ref name="keyPattern"/>
      </oneOrMore>
    </list>
  </define>
  <define name="dateAdded">
    <attribute name="dateAdded">
      <data type="string">
        <param name="pattern">\-?[0-9]{4}\-(0[1-9]|10|11|12)\-(0[1-9]|[1-2][0-9]|30|31) ([0-1][0-9]|[2][0-3]):([0-5][0-9]):([0-5][0-9])</param>
      </data>
    </attribute>
  </define>
  <define name="dateModified">
    <attribute name="dateModified">
      <data type="string">
        <param name="pattern">\-?[0-9]{4}\-(0[1-9]|10|11|12)\-(0[1-9]|[1-2][0-9]|30|31) ([0-1][0-9]|[2][0-3]):([0-5][0-9]):([0-5][0-9])</param>
      </data>
    </attribute>
  </define>
  <define name="index">
    <attribute name="index">
      <data type="integer"/>
    </attribute>
  </define>
  <define name="field">
    <element name="field">
      <attribute name="name"/>
      <text/>
    </element>
  </define>
  <define name="id">
    <attribute name="id">
      <data type="integer"/>
    </attribute>
  </define>
  <start>
    <interleave>
      <optional>
        <element name="items">
          <oneOrMore>
            <element name="item">
              <choice>
                <ref name="key"/>
                <group>
                  <ref name="libraryID"/>
                  <ref name="key"/>
                  <optional>
                    <attribute name="createdByUserID">
                      <data type="integer"/>
                    </attribute>
                  </optional>
                  <optional>
                    <attribute name="lastModifiedByUserID">
                      <data type="integer"/>
                    </attribute>
                  </optional>
                </group>
              </choice>
              <ref name="dateAdded"/>
              <ref name="dateModified"/>
              <optional>
                <attribute name="deleted">
                  <data type="boolean"/>
                </attribute>
              </optional>
              <choice>
                <group>
                  <attribute name="itemType"/>
                  <group>
                    <zeroOrMore>
                      <ref name="field"/>
                    </zeroOrMore>
                    <zeroOrMore>
                      <element name="creator">
                        <optional>
                          <ref name="libraryID"/>
                        </optional>
                        <ref name="key"/>
                        <attribute name="creatorType"/>
                        <ref name="index"/>
                        <optional>
                          <element name="creator">
                            <optional>
                              <ref name="libraryID"/>
                            </optional>
                            <ref name="key"/>
                            <ref name="dateAdded"/>
                            <ref name="dateModified"/>
                            <choice>
                              <group>
                                <element name="name">
                                  <text/>
                                </element>
                                <element name="fieldMode">
                                  <value>1</value>
                                </element>
                              </group>
                              <group>
                                <element name="firstName">
                                  <text/>
                                </element>
                                <element name="lastName">
                                  <text/>
                                </element>
                                <optional>
                                  <element name="fieldMode">
                                    <value>0</value>
                                  </element>
                                </optional>
                              </group>
                            </choice>
                            <optional>
                              <element name="birthYear">
                                <data type="integer"/>
                              </element>
                            </optional>
                          </element>
                        </optional>
                      </element>
                    </zeroOrMore>
                  </group>
                </group>
                <group>
                  <attribute name="itemType">
                    <value>note</value>
                  </attribute>
                  <optional>
                    <attribute name="sourceItem">
                      <choice>
                        <ref name="keyPattern"/>
                        <value>undefined</value>
                      </choice>
                    </attribute>
                  </optional>
                  <element name="note">
                    <text/>
                  </element>
                </group>
                <group>
                  <attribute name="itemType">
                    <value>attachment</value>
                  </attribute>
                  <optional>
                    <attribute name="sourceItem">
                      <choice>
                        <ref name="keyPattern"/>
                        <value>undefined</value>
                      </choice>
                    </attribute>
                  </optional>
                  <attribute name="mimeType"/>
                  <optional>
                    <attribute name="charset"/>
                  </optional>
                  <group>
                    <choice>
                      <group>
                        <attribute name="linkMode">
                          <choice>
                            <value>0</value>
                            <value>1</value>
                            <value>2</value>
                          </choice>
                        </attribute>
                        <optional>
                          <attribute name="storageModTime">
                            <data type="integer"/>
                          </attribute>
                        </optional>
                        <optional>
                          <attribute name="storageHash">
                            <ref name="md5Pattern"/>
                          </attribute>
                        </optional>
                        <zeroOrMore>
                          <ref name="field"/>
                        </zeroOrMore>
                        <element name="path">
                          <text/>
                        </element>
                      </group>
                      <group>
                        <attribute name="linkMode">
                          <value>3</value>
                        </attribute>
                        <zeroOrMore>
                          <ref name="field"/>
                        </zeroOrMore>
                      </group>
                    </choice>
                    <optional>
                      <element name="note">
                        <text/>
                      </element>
                    </optional>
                  </group>
                </group>
              </choice>
              <optional>
                <element name="related">
                  <ref name="keys"/>
                </element>
              </optional>
            </element>
          </oneOrMore>
        </element>
      </optional>
      <optional>
        <element name="creators">
          <oneOrMore>
            <element name="creator">
              <optional>
                <ref name="libraryID"/>
              </optional>
              <ref name="key"/>
              <ref name="dateAdded"/>
              <ref name="dateModified"/>
              <choice>
                <group>
                  <element name="name">
                    <text/>
                  </element>
                  <element name="fieldMode">
                    <value>1</value>
                  </element>
                </group>
                <group>
                  <element name="firstName">
                    <text/>
                  </element>
                  <element name="lastName">
                    <text/>
                  </element>
                  <optional>
                    <element name="fieldMode">
                      <value>0</value>
                    </element>
                  </optional>
                </group>
              </choice>
              <optional>
                <element name="birthYear">
                  <data type="integer"/>
                </element>
              </optional>
            </element>
          </oneOrMore>
        </element>
      </optional>
      <optional>
        <element name="collections">
          <oneOrMore>
            <element name="collection">
              <optional>
                <ref name="libraryID"/>
              </optional>
              <ref name="key"/>
              <attribute name="name"/>
              <ref name="dateAdded"/>
              <ref name="dateModified"/>
              <optional>
                <attribute name="parent">
                  <ref name="keyPattern"/>
                </attribute>
              </optional>
              <optional>
                <element name="items">
                  <ref name="keys"/>
                </element>
              </optional>
            </element>
          </oneOrMore>
        </element>
      </optional>
      <optional>
        <element name="searches">
          <oneOrMore>
            <element name="search">
              <optional>
                <ref name="libraryID"/>
              </optional>
              <ref name="key"/>
              <attribute name="name"/>
              <ref name="dateAdded"/>
              <ref name="dateModified"/>
              <zeroOrMore>
                <element name="condition">
                  <ref name="id"/>
                  <attribute name="condition"/>
                  <optional>
                    <attribute name="mode"/>
                  </optional>
                  <attribute name="operator"/>
                  <attribute name="value"/>
                  <optional>
                    <attribute name="required">
                      <choice>
                        <value>0</value>
                        <value>1</value>
                      </choice>
                    </attribute>
                  </optional>
                </element>
              </zeroOrMore>
            </element>
          </oneOrMore>
        </element>
      </optional>
      <optional>
        <element name="tags">
          <oneOrMore>
            <element name="tag">
              <optional>
                <ref name="libraryID"/>
              </optional>
              <ref name="key"/>
              <attribute name="name"/>
              <optional>
                <attribute name="type">
                  <data type="integer"/>
                </attribute>
              </optional>
              <ref name="dateAdded"/>
              <ref name="dateModified"/>
              <optional>
                <element name="items">
                  <ref name="keys"/>
                </element>
              </optional>
            </element>
          </oneOrMore>
        </element>
      </optional>
      <optional>
        <element name="groups">
          <oneOrMore>
            <element name="group">
              <optional>
                <ref name="libraryID"/>
              </optional>
              <ref name="id"/>
              <attribute name="name"/>
              <attribute name="editable">
                <choice>
                  <value>0</value>
                  <value>1</value>
                </choice>
              </attribute>
              <attribute name="filesEditable">
                <choice>
                  <value>0</value>
                  <value>1</value>
                </choice>
              </attribute>
              <optional>
                <element name="description">
                  <text/>
                </element>
              </optional>
              <optional>
                <element name="url">
                  <data type="anyURI"/>
                </element>
              </optional>
              <optional>
                <element name="items">
                  <ref name="keys"/>
                </element>
              </optional>
            </element>
          </oneOrMore>
        </element>
      </optional>
      <optional>
        <element name="relations">
          <oneOrMore>
            <element name="relation">
              <element name="subject">
                <data type="anyURI"/>
              </element>
              <element name="predicate">
                <data type="anyURI"/>
              </element>
              <element name="object">
                <data type="anyURI"/>
              </element>
            </element>
          </oneOrMore>
        </element>
      </optional>
      <optional>
        <element name="deleted">
          <interleave>
            <optional>
              <element name="items">
                <oneOrMore>
                  <element name="item">
                    <optional>
                      <ref name="libraryID"/>
                    </optional>
                    <ref name="key"/>
                  </element>
                </oneOrMore>
              </element>
            </optional>
            <optional>
              <element name="creators">
                <oneOrMore>
                  <element name="creator">
                    <optional>
                      <ref name="libraryID"/>
                    </optional>
                    <ref name="key"/>
                  </element>
                </oneOrMore>
              </element>
            </optional>
            <optional>
              <element name="collections">
                <oneOrMore>
                  <element name="collection">
                    <optional>
                      <ref name="libraryID"/>
                    </optional>
                    <ref name="key"/>
                  </element>
                </oneOrMore>
              </element>
            </optional>
            <optional>
              <element name="searches">
                <oneOrMore>
                  <element name="search">
                    <optional>
                      <ref name="libraryID"/>
                    </optional>
                    <ref name="key"/>
                  </element>
                </oneOrMore>
              </element>
            </optional>
            <optional>
              <element name="tags">
                <oneOrMore>
                  <element name="tag">
                    <optional>
                      <ref name="libraryID"/>
                    </optional>
                    <ref name="key"/>
                  </element>
                </oneOrMore>
              </element>
            </optional>
            <optional>
              <element name="groups">
                <list>
                  <oneOrMore>
                    <data type="integer"/>
                  </oneOrMore>
                </list>
              </element>
            </optional>
            <optional>
              <element name="relations">
                <oneOrMore>
                  <element name="relation">
                    <optional>
                      <ref name="libraryID"/>
                    </optional>
                    <attribute name="hash">
                      <data type="string">
                        <param name="pattern">[1234567890ABCDEF]{32}</param>
                      </data>
                    </attribute>
                  </element>
                </oneOrMore>
              </element>
            </optional>
          </interleave>
        </element>
      </optional>
    </interleave>
  </start>
</grammar>
